<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="eBizDatabase" connectionString="Data Source=ebiz.isy.vcu.edu,14330;Initial Catalog=spring13u06;Persist Security Info=True;User ID=spring13u06; Password= 60u31!" />
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
		
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
